<h1>Welkom op de energie calculator</h1>
<ul>
    <% @companies.each do |company| %>
    <li> <%= link_to company.name, company_path(company) %> - <%= company.category %></li>
    <% end %>
</ul>
<%= link_to "create a new company", new_company_path %>